<div class="body">
<h1 class="title">Categories</h1>
<hr>
<ul>
<% @categories.each do |category| %>
<div class="categoryItem">
<li><%= link_to category.name, category, :class => "categoryText" %></li>
</div>
<% end%>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
<br>