<div class="body">
<h1 class="title"><%= @category.name %></h1>

<h2 class= "subTitle"><b>Sub-Categories</b></h2>
<hr>
<ul>
<% @category.sub_categories.each do |sub_category|%>
<div class="categoryItem">
<li ><%= link_to sub_category.name, sub_category, :class=> "categoryText" %></li>
</div>
<% end%>
</ul>
<br><br><br><br><br><br>
</div>
<br>